---
layout: default
title: Home
---

<div class="span6">
	<article class="episode">
		<h2>Up Next</h2>
		<p>
		The <a href="http://dc.wikia.com/wiki/Death_of_Superman">Death of Superman</a>. We'll be following the same issues as the trade paperback, listed below. All of the issues are available digitally from <a href="http://www.readdcentertainment.com/Superman-Death-of-Superman/comics-story-arc/250">DC</a> and <a href="http://www.comixology.com/Superman-Death-of-Superman/comics-story-arc/250">Comixology</a>.</p>
		<ul>
			<li>Superman: Man of Steel #18</li>
			<li>Justice League America #69</li>
			<li>Superman (Volume Two) #74</li>
			<li>Adventures of Superman #497</li>
			<li>Action Comics #684</li>
			<li>Superman: Man of Steel #19</li>
			<li>Superman (Volume Two) #75</li>
		</ul>
	</article>

	{% for post in site.posts %}
		<article class="episode">
			<h2>{{post.title}}</h2>
			{{post.content}}
			<audio src="{{ post.link }}" preload="none" controls>
			</audio>
			<p class="meta">
				<time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_string }}</time> • <a href="{{ post.url }}">Permalink</a> • <a href="{{ post.link }}" rel="bookmark" title="Download {{ post.title }}">Download <i class="icon-download"></i></a>
			</p>
		</article>
	{% endfor %}
</div>

{% include about.html %}