<div id="about" class="span6 about">
	
	<div class="bio">
		<img src="/img/jared.png">
		<div class="text">Jared - a recovering comic book reader
			<div class="links">
				<a href="http://twitter.com/zepfhyr"><i class="icon-twitter"></i></a>
				<a href="http://zepfhyr.com/"><i class="icon-pencil"></i></a>
			</div>
		</div>
	</div>	
	
	<div class="bio">
		<img src="/img/alex.png">
			<div class="text">Alex - a nerd new to comic books
				<div class="links">
					<a href="http://twitter.com/alexcash"><i class="icon-twitter"></i></a>
					<a href="http://www.alexcash.com/"><i class="icon-pencil"></i></a>
				</div>
		</div>
	</div>	
	
	<div class="description">Jared and Alex read and discuss a different story arc every week. The hosts are a decade apart and have wildly different previous exposure to comics which leads to interesting discussions about characters, plot, culture, writing and art. The show covers comics from accross the spectrum. Expect titles from publishers such as Marvel, DC, Dark Horse, Image, Archie, Valiant, and more.</div>

</div>