<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>{{ page.title }} &mdash; Comic Talk</title>
<meta name="Description" content="Comic Talk with Jared and Alex.">
<meta name="author" content="Alex Cash">
<link rel="alternate" type="application/rss+xml" href="http://www.comictalkshow.com/podcast.xml">
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link rel="stylesheet" href="/css/all.css">
<meta name="viewport" content="width=device-width">
</head>

<body>

<div class="grid grid-pad">

<!-- 	<div class="col-1-1" id="header">
	<header>
	<h1>Comic Talk</h1>
	<p>a podcast</p>
	</header>
	</div>
 -->	
