<!DOCTYPE html>

<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }} &mdash; Comic Talk</title>
		<meta name="Description" content="Comic Talk with Jared and Alex.">
		<meta name="viewport" content="width=device-width">

		<link rel="alternate" type="application/rss+xml" href="http://www.comictalkshow.com/podcast.xml">
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

		<link rel="stylesheet" href="/css/all.css">
	</head>

	<body>
		<div class="contain">

		<header class="row-fluid">
			<a href="/"><h1>Comic Talk</h1></a>
			<nav>
				<a href="podcast.xml">Subscribe <i class="icon-rss"></i></a>
				<a href="#about" class="phone">About</a>
			</nav>
		</header>

		<div class="row-fluid">