{% include header.html %}

<div class="span6">
  <article class="episode">
    <h2>{{page.title}}</h2>
    <p>{{page.content}}</p>
    <audio src="{{ post.link }}" preload="none" controls>
    </audio>
    <p class="meta"><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time> • <a href="{{ page.link }}" rel="bookmark" title="Download {{ post.title }}">Download <i class="icon-download"></i></a></p>
  </article>
</div>

{% include about.html %}

{% include footer.html %}